[Desktop Entry]
Type=Application
Name=Everyfind
Comment=Ultra-fast file search for Linux
Exec=AppRun
Icon=everyfind
Categories=Utility;FileManager;Developer;
Terminal=false
